<!DOCTYPE html>
<html>
<head>
	<title>Sign-up</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/0e5b1e32b0.js" crossorigin="anonymous"></script>
	</script>
	
	<link rel="stylesheet" href="./css/login.css">


	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						
         					//ADD THIS CODE
         					
         				},
         				
         			})
			});
		});
	</script>
</head>
<body>

    <header class="topbar">
        <div class="logo-container">
            <img src="Spotify_LogoW.png" alt="Spotify Logo" class="logo">
        </div>
    </header>
    <div class="login-container">
        <div class="form-container">
            <h1>Sign up to start listening</h1>
            <hr>
            <br>
            <form id="form1" method="post">
                <label for="username" class="creds">Email</label>
                <input type="email" id="email" name="email" required>
				<label for="username" class="creds">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password"class="creds">Password</label>
                <input type="password" id="password" name="password" required>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" ><br/>
                <button type="submit" value="change" class="green"><a href="/login">Sign up</a></button>
            </form>
            <div class="social-login">
                <p>Or Sign in with</p>
                <div class="social-buttons">
                    <button class="google" class="icons"><i class="fa-brands fa-google"></i> Continue with Google</button>
                    <button class="facebook" class="icons" ><i class="fa-brands fa-facebook"></i> Continue with Facebook</button>
                    <button class="apple" class="icons"><i class="fa-brands fa-apple"></i> Continue with Apple</button>
                </div>
            </div>
            <div class="signup-link">
                <p>Don't have an account? <a href="#">Sign up for free</a></p>
            </div>
        </div>
    </div>
</body>
</html>