<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	
	<link rel="stylesheet" href="./css/login.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<body>
		<header class="topbar">
			<div class="logo-container">
				<img src="Spotify_LogoW.png" alt="Spotify Logo" class="logo">
			</div>
		</header>
		<div class="login-container">
			<div class="form-container">
				<h1>Log in to Spotify</h1>
				<hr>
				<br>
				<form id="form" method="post">
					<label for="username" class="creds">Username</label>
					<input type="text" id="username" name="username" required>
					<label for="password"class="creds">Password</label>
					<input type="password" id="password" name="password" required>
					<button type="submit" class="green"><a href="/profile">Login</a></button>
				</form>
				<div class="social-login">
					<p>Or log in with</p>
					<div class="social-buttons">
						<button class="google" class="icons"><i class="fa-brands fa-google"></i> Continue with Google</button>
						<button class="facebook" class="icons" ><i class="fa-brands fa-facebook"></i> Continue with Facebook</button>
						<button class="apple" class="icons"><i class="fa-brands fa-apple"></i> Continue with Apple</button>
					</div>
				</div>
				<div class="signup-link">
					<p>Don't have an account? <a href="#">Sign up for free</a></p>
				</div>
			</div>
		</div>
	</body>
</body>
</html>